<%- include('../partials/header') %>

<div class ="container">
	<div class ="row">
		<h1 style ="text-align:center">
			Submit a New Song
		</h1>
		<div style ="width:30%; margin: 20px auto">
			<form action = '/tunes' method ='POST'>
				<div style="width:80%; margin: 10px auto">
					<h6 style="text-align:center">
						Copy and paste the spotify link of the song you want to add and we'll take care of the rest
					</h6>
				</div>
				<div class ="form-group">
					<input class ="form-control" type ='text' placeholder ='spotify link' name ='link'>
				</div>
				<div class ="form-group">
					<button class ="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href ='/tunes'>Go back</a>
		</div>
	</div>
</div>
<%- include('../partials/footer') %>